<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6pTasbtB6PSSovwr8CAqUuFxmQxODLNA</string>
	<key>GCM_SENDER_ID</key>
	<string>19733807388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studentcover.studentcover.studentCover</string>
	<key>PROJECT_ID</key>
	<string>student-cover</string>
	<key>STORAGE_BUCKET</key>
	<string>student-cover.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19733807388:ios:f8a824b7e44b19378abad9</string>
	<key>DATABASE_URL</key>
	<string>https://student-cover-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>